<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<category label="30001">
		<setting id="backup_folder" type="folder" label="30002" default="" />
		<setting id="backup_retention_days" type="number" label="30010" default="7" />
		<setting id="select_unknown_video_sources" type="action" label="30003" action="RunScript(script.playstatebackup, action=select_unknown_video_sources)" />
		<setting id="disabled_video_sources" type="text" visible="false" default="[]" />
		<setting id="blacklisted_video_sources" type="text" visible="false" default="[]" />
	</category>
	<category label="30020">
		<setting id="backup_auto_mode" type="select" label="30021" default="0" lvalues="30022|30023|30024" />
		<setting id="backup_auto_startup_delay" type="number" label="30025" default="30" enable="!eq(-1,0)" />
		<setting id="backup_auto_interval" type="number" label="30026" default="60" enable="eq(-2,2)" />
	</category>
</settings>